//Html Resert
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 0 150px;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
body{
    font-family: Montserrat,sans-serif;
    font-weight: 400;
}
button{
    border: none;
    outline: none;
}
input{
    border: none;
    outline: none;
}
//Html Resert